extends layout

block content
  h1= title
  p 
    | welcome to our site

  form(action="/contact", method="post")
    label Comments please
    textarea(name="comments", rows=8)
    button(type="submit") Send
